<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>勤怠検索</title>
</head>

<body>
	<button class="btn" type="button">ホームに戻る</button>

	<h1>勤怠情報を検索</h1>

	<form action="#" method="post">
		<p><input type="text" name="user_ID"><br>ユーザーID</p>
		<p><input type="date" name="calendar"><br>日付</p>
	</form>

	<button class="btn" type="button">検索</button>

	<h1>検索結果</h1>

	<table border="1">
		<tr>
			<th>勤務形態</th>
			<th>出勤時間</th>
			<th>退勤時間</th>
			<th>休憩時間</th>
		</tr>
		<tr>
			<td>a</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
		</tr>
	</table>

</body>

</html>