<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規登録確認</title>
</head>

<body>

	<h2>新規ユーザー登録確認画面</h2>

	<p>以下の情報を登録します</p>

	<div th:object="${newUserForm}">
		
		<p>ユーザーID：<span th:text="*{userId}"></span></p>
		<p>姓：<span th:text="*{familyName}"></span></p>
		<p>名：<span th:text="*{firstName}"></span></p>
		<p>メールアドレス：<span th:text="*{mailAddress}"></span></p>
		<p>パスワード：<span th:text="*{password}"></span></p>
		<p>部署ID：<span th:text="*{busyoId}"></span></p>
		
	</div>
	

	<form th:action="@{/new-user-regist}" method="GET">
		<input type="submit" value="キャンセル" class="btn">
	</form>

	<form th:action="@{/new-user-complete}" method="GET">
		<input type="submit" value="登録" class="btn">
	</form>
</body>

</html>